form {
  border: 1px solid #545454;
  border-radius: 6px;
  padding: 40px;
}

input {
  padding: 5px;
  width: 100%;
  line-height: 16px;
  margin: 10px 0;
}

.text {
  background: #e7f0fe; // TODO: Same in thead
}

.button {
  background: #FFB76C;
  background: -webkit-linear-gradient(top, #FFB76C, #FF7F04);
  background: -moz-linear-gradient(top, #FFB76C, #FF7F04);
  background: linear-gradient(to bottom, #FFB76C, #FF7F04);
  color: #1C2A43; // TODO: Same as in thead
}
