@import 'common';

form {
  border: 1px solid $box-outline-color;
  border-radius: 4px;
  padding: 40px;
}

input {
  padding: 5px;
  width: 100%;
  line-height: $base-text-line-height;
  margin: 10px 0;
}

.text {
  background: $text-background-color;
}

.button {
  @include background-gradient(top, to bottom, $light-orange, $dark-orange);
  color: $header-color;
}
