@import 'common';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

.header-item {
  font-size: 20px;
  color: $header-color;

  a,
  a:visited {
    text-decoration: none;
    color: $header-color;
  }
}

figure {
  transform: scale(0.8);
}
