@import 'common';

.result-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto;
}

.thead {
  color: $header-color;
  background-color: $text-background-color;
}

.box {
  border: 1px solid $box-outline-color;
  padding: 5px;
}

[data-tooltip] {
  cursor: help;
}

[data-tooltip].tooltip-multiline:before {
  white-space: pre-line;
}

// Overwrites spinkit spinner color.
// Note(!): SASS variable replacement fails here.
.sk-flow-dot {
  --sk-color: #ff7f04; // $dark-orange
}
