{
  "env": {
    "browser": true,
    "node": true,
    "es2020": true
  },
  "extends": ["google"],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "require-jsdoc": "off"
  },
  "ignorePatterns": ["**/dist/*"]
}
