<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Document Sentiment Analysis</title>
  </head>

  <body>
    <header>
      <div class="header-item">
        <!-- Logo as demanded by MeaningCloud's Terms of Use.
             See https://www.meaningcloud.com/terms-and-conditions.
        -->
        <figure>
          <a href="https://www.meaningcloud.com/">
            <img src="./../images/logo.png" alt="" />
          </a>
        </figure>
      </div>
      <div class="header-item"><a class="text-link" href="#">Home</a></div>
    </header>

    <main>
      <section>
        <h1>Sentiment Analysis</h1>
        <form onsubmit="return Client.handleSubmit(event)">
          <input
            class="text"
            id="document-url"
            type="text"
            name="input"
            value=""
            placeholder="Document URL"
            onblur="Client.onBlur()"
          />
          <input
            class="button"
            type="submit"
            name="trigger"
            value="Analyse"
            onclick="return Client.handleSubmit(event)"
            onsubmit="return Client.handleSubmit(event)"
          />
        </form>
      </section>

      <section id="result">
        <!-- Spinner shown while the request is being processed -->
        <div id="spinner" class="hidden">
          <div class="sk-flow">
            <div class="sk-flow-dot"></div>
            <div class="sk-flow-dot"></div>
            <div class="sk-flow-dot"></div>
          </div>
        </div>
        <!-- Table with analysis results -->
        <div id="result-grid" class="hidden">
          <h1>Results</h1>
          <div class="result-grid">
            <div class="box thead">URL</div>
            <div class="box thead">
              <span
                class="tooltip-multiline"
                data-tooltip="P+: strong positive
              P: positive
              NEU: neutral
              N: negative
              N+: strong negative
              NONE: without sentiment"
                >Polarity</span
              >
            </div>
            <div class="box thead">
              <span
                class="tooltip-multiline"
                data-tooltip="OBJECTIVE: Text is without subjectivity marks.
              SUBJECTIVE: Text has subjective marks."
                >Subjectivity</span
              >
            </div>
            <div class="box thead">
              <span
                class="tooltip-multiline"
                data-tooltip="NONIRONIC: Text is without ironic marks.
            IRONIC: Text has ironic marks."
                >Irony</span
              >
            </div>
            <div class="box thead">
              <span
                class="tooltip-multiline"
                data-tooltip="Confidence associated with the sentiment analysis performed on the text."
                >Confidence</span
              >
            </div>
            <div id="targetUrl" class="box tdata"></div>
            <div id="polarity" class="box tdata"></div>
            <div id="subjectivity" class="box tdata"></div>
            <div id="irony" class="box tdata"></div>
            <div id="confidence" class="box tdata"></div>
          </div>
        </div>
        <!-- Error message. Used to notify user about networking errors. -->
        <div id="error-message" class="hidden">
          <span class="error"
            >Ooops!!! Something went terribly wrong. Please try again
            later.</span
          >
        </div>
      </section>
    </main>

    <footer>
      <p>
        <!-- Clickable link as demanded by MeaningCloud's Terms of Use.
             See https://www.meaningcloud.com/terms-and-conditions.
        -->
        <a class="text-link" href="https://www.meaningcloud.com/"
          >Powered by MeaningCloud API</a
        >
      </p>
    </footer>
  </body>
</html>
