<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Document Sentiment Analysis</title>
  </head>

  <body>
    <header>
      <div class="header-item">
        <figure>
          <a href="https://www.meaningcloud.com/">
            <img src="./../images/logo.png" alt="" />
          </a>
        </figure>
      </div>
      <div class="header-item"><a href="#">Home</a></div>
    </header>

    <main>
      <section>
        <h1>Sentiment Analysis</h1>
        <form onsubmit="return Client.handleSubmit(event)">
          <input class="text"
            id="name"
            type="text"
            name="input"
            value=""
            placeholder="Document URL"
            onblur="Client.onBlur()"
          />
          <input
            class="button"
            type="submit"
            name="trigger"
            value="Analyse"
            onclick="return Client.handleSubmit(event)"
            onsubmit="return Client.handleSubmit(event)"
          />
        </form>
      </section>

      <section>
        <h1>Results</h1>
        <div id="spinner" class="hidden">
          <div class="sk-flow-dot"></div>
          <div class="sk-flow-dot"></div>
          <div class="sk-flow-dot"></div>
        </div>
        <div id="results" class="hidden">
          <div class="box thead">URL</div>
          <div class="box thead">
            <span
              class="tooltip-multiline"
              data-tooltip="P+: strong positive
            P: positive
            NEU: neutral
            N: negative
            N+: strong negative
            NONE: without sentiment"
              >Polarity</span
            >
          </div>
          <div class="box thead">
            <span
              class="tooltip-multiline"
              data-tooltip="OBJECTIVE: Text is without subjectivity marks.
            SUBJECTIVE: Text has subjective marks."
              >Subjectivity</span
            >
          </div>
          <div class="box thead">
            <span
              class="tooltip-multiline"
              data-tooltip="NONIRONIC: Text is without ironic marks.
            IRONIC: Text has ironic marks."
              >Irony</span
            >
          </div>
          <div class="box thead">
            <span
              class="tooltip-multiline"
              data-tooltip="Confidence associated with the sentiment analysis performed on the text."
              >Confidence</span
            >
          </div>

          <div id="targetUrl" class="box data"></div>
          <div id="polarity" class="box data"></div>
          <div id="subjectivity" class="box data"></div>
          <div id="irony" class="box data"></div>
          <div id="confidence" class="box data"></div>
        </div>
      </section>
    </main>

    <footer>
      <p>
        <a href="https://www.meaningcloud.com/">Powered by MeaningCloud API</a>
      </p>
    </footer>
  </body>
</html>
